:root{
    --Web-color: rgba(18, 96, 0, 0.15);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: auto; */
    scroll-behavior: smooth;
}

header{
    height: 10vh;
    width: 100%;
    background-color: var(--Web-color);   
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 3vh;
    position: fixed;
    z-index: 3;
    color: white;
}

#logo{
    font-weight: bold;
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    cursor: pointer;
}

#nav-items{
    width: 20%;

}
#nav-items ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    /* text-decoration-style: none; */
}
#nav-items ul li{
    text-decoration: none;
    cursor: pointer;
    transition: ease-in-out 0.1s;
}

#nav-items ul li:hover{
    /* background-color: rgb(128, 128, 128, 0.3); */
    transform: scale(1.3);
}

#home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../nature4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: rgb(0, 0, 0, 1); */
    color: white;
}
#home iframe{
    height:100vh; 
    width:100vw;
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    
}
#home p{
    font-size: 5vh;
    font-weight: bold;
}


#user-part{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
#container{
    /* margin:auto; */
    width:30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#userinputZIP{
    width: 100%;
    /* grid-row-start: 20; */
    /* columns: 40; */
}
#userinputFeel{
    width: 100%;
}

#submit{
    height: 20%;
    width: 30%;
    background-color: var(--Web-color);
    font-weight: bold;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.1s;

}
#submit:hover{
    transform: scale(1.3);
}

#results{
    width: 30vw;
    height: 30vh;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}


@media(orientation: portrait)
{
    
}